@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  min-height: max(884px, 100dvh);
}

/* Styles pour le mode sombre */
.dark {
  color-scheme: dark;
}

/* Correction des couleurs dynamiques */
.text-\\[\\#111b0d\\] {
  color: #111b0d;
}

.dark .dark\\:text-white {
  color: white;
}